IMAGE_NAME=mvp-pt:2.5.1
CONTAINER_NAME=mvp-pt25
DOCKERFILE_NAME="pytorch25.Dockerfile"
COMPOSE_FILE_NAME="compose.pytorch25.yml"
SERVICE_NAME="hf_smol_service"
DEVCONTAINER_NAME="HF-SMOL"
CODE=/media/data_2/opensource/smol-course/
DATASET=/media
HF_HOME=/media/data_2/hf_home
CONDA_CACHE=/media/data_2/docker/conda_containers
UV_CACHE_DIR=/media/data_2/docker/uv_containers
NVIDIA_VISIBLE_DEVICES=all
DISPLAY=$DISPLAY